body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(linedpaper.png);
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
.connect_with_me {
  font-family: serif;
  color: #A52A2A;
}
#experience {
  font-family: arial;
  color: #0000FF;
}
.img {
  border: 15px solid #3e2b14;
  padding: 10px;
}

h1 {
  font-family: Georgia, Serif;
  color: purple;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
